---
title: A New City Mark
subtitle: Community Iconography
description:
layout: page
---
<% content_for :jumbotron do %>
<%= partial "partials/jumbotron" %>
<% end %>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Yes We Can
          </h3>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="/images/no_crown.png" alt="[crown redacted]" style="margin: 0 auto 0 auto"/>
          <p class="custom-paragr lead text-center">
            We can't use the Charlotte crown. Let's make one we can use.
          </p>
        </div>
      </div>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            A New Crown for Crowntown
          </h3>
        </div>
        <div class="panel-body">
           
          <p>We, the citizens of Charlotte, are fortunate to live in a great city with a well-known graphic identity, defined by the familiar crown logo that graces everything from our flags, to our trash cans, to our street signs.</p>
           
          <p>Unfortunately, for the past several years, whenever a Charlotte citizen uses that icon to brand a new <a href="http://www.barcampclt.org">event</a>, <a href="http://www.hackerspacecharlotte.org">location</a>, or other community fixture, he or she is certain to hear from the City&rsquo;s professional staff.  The icon is a <a href="http://charmeck.org/city/charlotte/citymanager/AboutUs/Pages/Logo.aspx" target="_blank">registered service mark</a>, so the City government has a right to protect against unauthorized use.</p>
           
          <p>This is frustrating for all involved.  And it&rsquo;s time for it to stop.  We, the citizens of Charlotte, have the power and capability to create a better alternative for our own use.</p>
           
          <p>We at Code for Charlotte invite you to participate in an open forum regarding the design of a new &ldquo;crown&rdquo; logo.  We wish the end product to be available under an open license that allows for derivative works and is royalty free.  This forum will help us discover how to reach those ends.</p>
           
          <p>We reject the crowdsourced design model (used by <a href="http://99designs.com/logo-design/contests/design-better-gap-logo-community-project-54693" target="_blank">99designs</a>) as disrespectful to designers who require trust and collaboration to produce great work.  While many designers may work to choose pro-bono, breaking these bonds will inhibit the quality of our finished piece. Also, we believe the contest format precludes discussion that can make the results much more valuable and useful to the whole community.</p>
           
          <p>We also reject the expert-driven model (used by the <a href="http://www.thedenverchannel.com/news/local-news/colorado-unveils-new-mountain-logo-and-new-slogan-its-our-nature" target="_blank">state of Colorado</a>) logo as insufficiently open.  How can a design reflect a city (much less a state) when the city is not involved? Also, their result of creating a licensed work and a new revenue stream do not match our intended use.</p>
           
          <p>We wish to chart a new path of open, public design that demonstrates our civic-mindedness and design skill to the world.  Your participation in this process can help create a symbol that is worthy of nationwide respect, and will be reflected throughout the Charlotte community for years to come.</p>
           
          <p>Will you help us?</p>

          <p>Should you wish to participate, the discussion will touch on the following topics (and potentially more depending on feedback).</p>
        </div>
      </div>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Intended Uses
          </h3>
        </div>
        <div class="panel-body">
          <p>We&#39;re aware of a desire for such a mark to also adorn labels for items <a href="http://www.charlottesgotalot.com/articles/made-charlotte">like these.</a> We are an independent, creative, engaged community, and we recognize our brothers and sisters on Etsy, Kickstarter, and running small businesses in the city. Should we involve them in our process and share the results, or would the needs for the mark then become too diverse to address with this novel process?  This goal is not without <a href="http://madewithloveincharlotte.com/" target="_blank">risk of failure</a>.</p>
        </div>
      </div>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Artistic Direction
          </h3>
        </div>
        <div class="panel-body">
          <p>Just because the current mark is a crown doesn&#39;t necessarily mean that we need to create one, even if it might be the most facile option.  Hornets and felines also have historic and thematic ties to the city.  Might we include these possible targets in our own process?</p>

        </div>
      </div>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Licensing
          </h3>
        </div>
        <div class="panel-body">
          <p>We certainly wish to allow for derivatives of the mark; supporting new Charlotte community initiatives with their branding is a primary goal. But without amendment, other cities that identify themselves as the "Queen City" would be able to derive the same benefit from our work.  Is it important to us to limit this use?</p>
          <p>Imagine also a fictitious "Queen City Unpainted Furniture" who may only be bringing artisan product to market.  We&#39;d have no knowledge or control over their treatment of craftsmen.  Should they be allowed to use a derivative of our mark without our involvement and without compensation?</p>
          <p>What license (or licenses) will allow us to reach our goals best?</p>
        </div>
      </div>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Desired Ends
          </h3>
        </div>
        <div class="panel-body">
          <p>If we do wish to support a "Made in Charlotte" brand, we would then have the possibility to create a fundraising Kickstarter with the involvement of makers eager to use and promote the mark themselves.  Our expectation would be that this grass-roots, "for Charlotte, by Charlotte" process could help drive sales and popularity for our vendors.  Additionally, it ought to make funds available for our community, as well as the creative team ultimately responsible for the mark&#39;s creation.</p>
          <p>If we choose the narrower base for our task, will we take specific steps to promote awareness and drive adoption of the mark, or will we take a more organic approach?  Can this narrow base support appropriate compensation for designer participation in the process, or will we need to ask our team to work pro-bono?</p>
        </div>
      </div>
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Timeline and Process
          </h3>
        </div>
        <div class="panel-body">
          <p>In matters of design, we do not believe that "popularity contests", with winners determined by public vote, create marks that can stand the test of time. We believe a closed conclusion to the process, led by the creative team most active and valuable in the process to that point, will produce the best results.</p>
          <p>We must also, however, include a public phase. Involving the greater community in this open process is essential. The feedback crucial to generate the best results will come from a diverse range of citizens.  Great ideas can come from anywhere.  No one person or group has full knowledge of what makes Charlotte great.  A public commentary on some submissions is crucial.</p>
          <p> What rights, then, are appropriate to reserve for creators of work that&#39;s distributed to the public for comment?</p>
        </div>
      </div>
<% content_for :sidebar do %>
<%= partial "partials/sidebar" %>
<% end %>
