<% wrap_layout :layout do %>
<%= partial "partials/jumbotron" %>
    <section class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default custom-panel">
              <div class="panel-body">
                  <%= yield %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
<%= partial "partials/sidebar" %>
          </div>
        </div>
      </div>
    </section>
<% end %>
