<% wrap_layout :layout do %>
<% content_for :jumbotron do %>
<%= partial(:'partials/jumbotron', :locals => {:headline => current_article.data.title, :subheadline => current_article.data.subtitle }) %>
<% end %>
    <section class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default custom-panel">
              <div class="panel-body">
                  <%= yield %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
<%= yield_content :sidebar %>
          </div>
        </div>
      </div>
    </section>
<% end %>
