    <section>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="text-left col-xs-12">
              <h1>
                <%= headline %>
              </h1>
              <span class="second-sm"><%= subheadline %></span>
            </div>
          </div>
        </div>
      </div>
    </section>
