<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
          <div>
            <ul class="list-unstyled">
              <h2>More Info</h2>
              <li>
              <a href="/about-us.html">About Us</a>
              </li>
              <li>
              <a href="/new-members.html">New Members</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4  col-xs-6">
          <div>
            <ul class="list-unstyled">
              <h2>Contribute</h2>
              <li>
              <a href="/toolkit/website.html">Website</a>
              </li>
              <li>
              <a href="/projects/city-mark.html">City Mark</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
      <span class="text-right"> <address> <strong>Code For Charlotte</strong><br /> 809 W. Hill St, Charlotte, NC<br /> Charlotte, NC 28202<br /> <abbr title="Phone">P:</abbr> (704) 951-RUBY</address> <address> <strong>Full Name</strong><br /> <a href="mailto:#">first.last@example.com</a></address></span>
    </div>
  </div>
</div>
