<section>
  <nav id="topnav" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Your Site</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
          <a href="#top-section">Home</a>
          </li>
          <li>
          <a href="#">Link</a>
          </li>
          <li>
          <a href="#">Link</a>
          </li>
          <li>
          <a href="#">Link</a>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
          <a class="btn btn-danger navbar-btn">Sign up</a> <a class="btn btn-success navbar-btn">Sign in</a>
        </div>
      </div>

    </div>
  </nav>
</section>
