---
title: About
subtitle: History and Mission
description:
layout: page
---
<% content_for :jumbotron do %>
<%= partial "partials/jumbotron" %>
<% end %>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                Our History
              </h3>
            </div>
            <div class="panel-body">
              <p>
                Code for Charlotte is a <a href="http://codeforamerica.org/brigade/">brigade</a> of the national non-profit
                <a href="http://codeforamerica.org/">Code for America</a>.  Both organizations are dedicated to raising awareness
                and demonstrating the value of <strong>open data</strong>, <strong>open source</strong>, and
                <strong>open government</strong>.
              </p>
              <p>
                The City of Charlotte was one of ten cities selected for a <a href="http://www.codeforamerica.org/blog/2013/10/15/2014fellowship_launch/">2014 Fellowship</a>,
                an extremely selective program that pairs technologists with governments across the country.  One of the selection criteria for the
                fellowship is citizen engagement around these values-- usually in the form of a brigade.  So when the fellowship was awarded,
                we sprung to life!  Our first meeting was in January on 2014, and we've grown to over 200 civic hackers since.  We are one of the fastest
                growing brigades in history, and already one of the largest overall.</p>
              </p>
            </div>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                Our Mission
              </h3>
            </div>
            <div class="panel-body">
              <p>
                We use technology as a tool to bridge the gap between citizens and local government, by either finding existing tools or creating new ones.  Our focus is coordinating the needs and problems, great and small, our communities face and using our combined skills, voice and passion for improvements for all of Charlotte citizens.
             </p>
              <hr />
              <p>
              <a href="/new-members.html" class="btn btn-lg btn-block btn-success">Get Involved</a>
              </p>
            </div>
          </div>
<% content_for :sidebar do %>
<%= partial "partials/sidebar" %>
<% end %>
