---
title: Welcome to Code for Charlotte
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="text-left col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
        <h1>
          CLT
        </h1> <span class="second-sm">Open Government</span>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 custom-left">
        <h2>
          Open Data, Open Source
        </h2>

        <ul class="list-unstyled">
          <li>
          <i class="icon-ok-sign"></i> Fellowship
          </li>
          <li>
          <i class="icon-ok-sign"></i> Brigade
          </li>
          <li>
          <i class="icon-ok-sign"></i> Innovation
          </li>
        </ul>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="http://meetup.com/Code-For-Charlotte" class="btn btn-default btn-lg btn-custom"><i class="icon-play-sign"></i> Join Us</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
  </section>
  <section class="features-section">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h1>
          Check out our awesome initiatives
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Fellowship
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-book icon-4x"></i>
          </p>
          <p>
          Panel content goes here. Lorem ipsum dolor set amet. Panel content goes here. Lorem ipsum dolor set amet.
          </p><hr />
          <p>
          <a class="btn btn-lg btn-block btn-success">BUY PRODUCT</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Brigades
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-camera icon-4x"></i>
          </p>
          <p class="lead text-center">
          Panel content goes here. Lorem ipsum dolor set amet. Panel content goes here. Lorem ipsum dolor set amet.
          </p><hr />
          <p>
          <a class="btn btn-lg btn-block btn-success">BUY PRODUCT</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Events
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-beer icon-4x"></i>
          </p>
          <p>
          Panel content goes here. Lorem ipsum dolor set amet. Panel content goes here. Lorem ipsum dolor set amet.
          </p><hr />
          <p>
          <a class="btn btn-lg btn-block btn-success">BUY PRODUCT</a>
          </p>
        </div>
      </div>
    </div>
  </div><hr />
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4  col-lg-6">
      <div class="input-group">
        <input type="email" class="form-control input-lg" /> <span class="input-group-btn"><button class="btn btn-primary btn-lg" type="button">SUBSCRIBE!</button></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    </div>
  </div><hr />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h3>
          Check out new products
        </h3>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
      <img class="img-responsive img-rounded" src="http://placehold.it/360x200" alt="" />

      <p class="text-center custom-paragr lead">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4  col-xs-12">
      <img class="img-responsive img-rounded" src="http://placehold.it/360x200" alt="" />
      <p class="text-center custom-paragr lead">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
      <img class="img-responsive img-rounded" src="http://placehold.it/360x200" alt="" />
      <p class="text-center custom-paragr lead">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
    </div>
  </div>
</div>


