---
title: Welcome to Code for Charlotte
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="text-left col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
        <h1>
          CLT
        </h1> <span class="second-sm">Our City</span>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 custom-left">
        <h2>
          Open Data, Open Source
        </h2>

        <ul class="list-unstyled">
          <li>
          <i class="icon-ok-sign"></i> Your voice
          </li>
          <li>
          <i class="icon-ok-sign"></i> Your ideas
          </li>
          <li>
          <i class="icon-ok-sign"></i> Your choice
          </li>
          <li>
          <i class="icon-ok-sign"></i> Your action
          </li>

        </ul>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/about-us.html" class="btn btn-default btn-lg btn-custom"><i class="icon-play-sign"></i>Learn More</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
  </section>
  <section class="features-section">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h1>
          Check out our awesome initiatives
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Fellowship
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-rss icon-4x"></i>
          </p>
          <p>
          The Charlotte fellows have been working on a prototype to connect
          people with what's happening in their neighborhood.  You can
          stay connected with them on their Tumblr.
          </p><hr />
          <p>
          <a href="http://team-charlotte.tumblr.com" class="btn btn-lg btn-block btn-success">Follow the Fellows</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Our Brigade
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-keyboard icon-4x"></i>
          </p>
          <p class="lead text-center">
          Help represent Code for Charlotte in uptown on June 17th!  The City's technology summit and Charlotte Data Day have both invited us to have a presence at their events.
          </p><hr />
          <p>
          <a href="http://www.meetup.com/Code-For-Charlotte/"
             class="btn btn-lg btn-block btn-success">Volunteer</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Events
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-beer icon-4x"></i>
          </p>
          <p>
          Our next hackathon will be the June 23, the fourth Monday in June.  We'll be putting more structure in place regarding how to contribute.
          </p><hr />
          <p>
          <a href="http://www.meetup.com/Code-For-Charlotte/events/168731192/"
             class="btn btn-lg btn-block btn-success">RSVP Today</a>
          </p>
        </div>
      </div>
    </div>
  </div><hr />
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4  col-lg-6">
      <form action="http://itsbspoke.us2.list-manage.com/subscribe/post?u=8b4656bd4a093a3bcabfda08a&amp;id=4f80c66e83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="input-group">
       <input type="email" class="form-control input-lg" name="EMAIL" id="mce-EMAIL"/>
         <span class="input-group-btn">
           <button class="btn btn-primary btn-lg" type="submit" name="subscribe" id="mc-embedded-subscribe" >
             SUBSCRIBE!
           </button>
         </span>
      </div>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_8b4656bd4a093a3bcabfda08a_4f80c66e83" tabindex="-1" value="">
      </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    </div>
  </div><hr />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h3>
          Code For Charlotte In Action
        </h3>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
      <img class="img-responsive img-rounded" src="images/one.jpg" alt="" />

      <p class="text-center custom-paragr lead">
      The Charlotte fellows conferring with <strong>Councilman Greg Phipps</strong>.  Code for Charlotte
      has ignited conversations across all levels of city and county government.
      </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4  col-xs-12">
      <img class="img-responsive img-rounded" src="images/two.jpg" alt="" />
      <p class="text-center custom-paragr lead">
      <strong>Twyla McDermott</strong> from the City's Innovation &amp; Technology department, has
      been Code for Charlotte's primary contact inside City government.  Thanks, Twyla!
      </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
      <img class="img-responsive img-rounded" src="images/three.jpg" alt="" />
      <p class="text-center custom-paragr lead">
      Code For Charlotte has many opportunities to get engaged in person.  Check
      <a href="http://www.meetup.com/Code-For-Charlotte">our Meetup</a> for more
      information.
      </p>
    </div>
  </div>
</div>


