---
title: Title | Code for Charlotte
description:
keywords:
author:
layout: page
---
<% content_for :jumbotron do %>
<%= partial(:'partials/jumbotron', :locals => {:headline => 'Page Title', :subheadline => 'Page Subtitle' }) %>
<% end %>
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  Page Section
                </h3>
              </div>
              <div class="panel-body">
                <p>
                  Paragraph Text
                </p>
                <p>
                  Other Paragrah Text
                </p>
              </div>
            </div>
            <hr />
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  Another Section
                </h3>
              </div>
              <div class="panel-body">
                <p>
                  Second Paragraph Text
                </p>
                <p>
                  More Paragrah Text
                </p>
              </div>
            </div>

<% content_for :sidebar do %>
<%= partial(:'partials/sidebar') %>
<% end %>
