---
title: 
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>
          New Members
        </h1> <span class="second-sm">Welcome!</span>
      </div>

    </div>

  </div>
</div>
  </section>
  <section class="features-section">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Meetup
          </h3>
        </div>
        <div class="panel-body">
          <p>
            We use Meetup to publish our event schedule and manage RSVP's.
          </p><hr />
          <p>
          <a href="http://www.meetup.com/Code-For-Charlotte" class="btn btn-lg btn-block btn-success">Let's Meet Up</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Quick Checklist
          </h3>
        </div>
        <div class="panel-body">
          <p>
          <ul>
            <li>Sign up for <a href="http://www.meetup.com/Code-For-Charlotte">Meetup</a>.</li>
            <li>Register for the <a href="http://forum.codeforcharlotte.org/">Forum</a>.</li>
            <li>Sign up for the <a href="http://eepurl.com/QKgqr">Mailing List</a>.</li>
            <li>Contribute to the <a href="http://www.localwiki.net/charlotte/">LocalWiki</a></li>
            <li>Find a project [coming soon]</li>
          </ul>
          
          </p>
        </div>
      </div>
 
      <img class="img-responsive img-rounded" src="images/one.jpg" alt="" />

      <p class="text-center custom-paragr lead">
      The Charlotte fellows conferring with <strong>Councilman Greg Phipps</strong>.  Code for Charlotte
      has ignited conversations across all levels of city and county government.
      </p>
    </div>
  </div><hr />
</div>
