---
title: 
subtitle: Newsletter
description: Dedicated newsletter signup
layout: page
---
<% content_for :jumbotron do %>
	<%= partial "partials/jumbotron" %>
<% end %>
<div class="panel panel-default custom-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      Get Involved!
    </h3>
  </div>
  <div class="panel-body">
    <div>
      <form action="//codeforcharlotte.us8.list-manage.com/subscribe/post?u=5ced53b44ca9b37bfe1306988&amp;id=5ba42b52ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="input-group">
         <input type="email" class="form-control input-lg" name="EMAIL" id="mce-EMAIL"/>
           <span class="input-group-btn">
             <button class="btn btn-primary btn-lg" type="submit" name="subscribe" id="mc-embedded-subscribe" >
               SUBSCRIBE!
             </button>
           </span>
        </div>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_5ced53b44ca9b37bfe1306988_5ba42b52ba" tabindex="-1" value="">
        </div>
      </form>
    </div>
  </div>
</div>
