---
title: Welcome to Code for Charlotte
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 custom-left">
        <h2>
          Open Data, Open Source
        </h2>
  </section>
  <section class="features-section">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h1>
          Check out our awesome initiatives
        </h1>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h3>
          Code For Charlotte In Action
        </h3>
      </div>
    </div>
   

