---
title: Welcome to Code for Charlotte
---


<div class="jumbotron">
  <div class="container">
    <div class="row">
        <h2>
          Open Data, Open Source
        </h2>
  </section>
  <section class="features-section">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h1>
          Check out our awesome initiatives
        </h1>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h3>
          Code For Charlotte In Action
        </h3>
      </div>
    </div>
     <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
      </footer>

    </div><!--/.container-->
