---
title: Blank Page
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>
          Page title
        </h1> <span class="second-sm">Page subtitle</span>
      </div>

    </div>

  </div>
</div>
  </section>
  <section class="features-section">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Page section
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
          <i class="icon-rss icon-4x"></i>
          </p>
          <p>
            Section text
          </p><hr />
          <p>
          <a href="http://team-charlotte.tumblr.com" class="btn btn-lg btn-block btn-success">Main Section CTA</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">

      <div class="panel panel-default custom-panel">
        <div class="panel-heading">
          <h3>
            Sample Sidebar
          </h3>
        </div>
        <div class="panel-body">
          <p>
          Sidebar texting
          </p><hr />
          <p>
          <a href="http://team-charlotte.tumblr.com" class="btn btn-lg btn-block btn-success">Sidebar CTA</a>
          </p>
        </div>
      </div>
 
      <img class="img-responsive img-rounded" src="images/one.jpg" alt="" />

      <p class="text-center custom-paragr lead">
      The Charlotte fellows conferring with <strong>Councilman Greg Phipps</strong>.  Code for Charlotte
      has ignited conversations across all levels of city and county government.
      </p>
    </div>
  </div><hr />
</div>
