---
title: Smart Cities Hackathon
subtitle: March 21st + 22nd, 2015
description: RSVP for the Smart Cities Hackathon.
layout: page
---
<% content_for :jumbotron do %>
<%= partial "partials/jumbotron" %>
<% end %>
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  Page Section
                </h3>
              </div>
              <div class="panel-body">
                <p>
	                The Smart City Hackathon is coming to Charlotte March 21st and 22nd.  Are you
									ready to show	why Charlotte is the world's smartest city?
                </p>
              </div>
            </div>
            <hr />
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  RSVP Today
                </h3>
              </div>
              <div class="panel-body">
<script type="text/javascript" src="https://itsbspoke.formstack.com/forms/js.php?1933405-HqmcJPHPpC-v3"></script><noscript><a href="https://itsbspoke.formstack.com/forms/smart_cities" title="Online Form">Online Form - Smart Cities Hack-a-thon</a></noscript>
              </div>
            </div>
<% content_for :sidebar do %>
<%= partial "partials/sidebar" %>
<% end %>
