---
title: Smart Cities Hackathon
subtitle: March 21st + 22nd, 2015
description: RSVP for the Smart Cities Hackathon.
layout: page
---
<% content_for :jumbotron do %>
<%= partial "partials/jumbotron" %>
<% end %>
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  Page Section
                </h3>
              </div>
              <div class="panel-body">
                <p>
The <a href="http://www.smartcitiescouncil.org">Smart Cities Council</a>, is holding the quarterly meeting of their partners in here in Charlotte.  As part of that event, they are incorporating a Hack-A-Thon sponsored by <a href="https://www.itron.com/na/pages/default.aspx">Itron</a> and hosted at <a href="http://centercity.uncc.edu/">UNC Charlotte’s Uptown campus</a>.  We wanted to add a fun element to the meeting and explore what the people of Charlotte could do to help make Charlotte the Smartest City.  A Smart City is one that uses technology and data to drive decisions to create efficiencies and a more sustainable city for it’s citizens. </p>

<p><a href="http://www.envisioncharlotte.com">Envision Charlotte</a> has already placed Charlotte at the forefront of the Smart City movement, and there are several other Charlotte entities that are working on Smart City programs.  For example, UNC Charlotte’s <a href="http://www.epic.uncc.edu">Energy Production and Infrastructure Center</a>  as well as the <a href="http://cci.uncc.edu/">College of Computing and Informatics</a> are working smart building science and data analytics respectively.  The mission of Charlotte’s <a href="http://abdsociety.org/">Analytics and Big Data Society</a> is to “attract, teach and retain individuals and organizations to enable innovation through use of analytics to drive value for themselves, their customers and the community.”  The <a href="http://www.codeforcharlotte.org/">Code for Charlotte Brigade</a> is the volunteer-based force that is actively working to better connect citizens to government through the use of technology. There are numerous other examples across the greater Charlotte area, and by bringing these entities together for a common goal, Charlotte will be able to stake its claim as the smartest city.</p>
 
<p>Hackathon participants are charged with developing an application or solution that propels Charlotte as the smartest city in the world.</p>
 
<p>Data sources have been compiled that will help to answer the charge. The data source listing includes data available through the <a href="http://www.opencharlotte.net">Charoltte Open Data Portal</a>, the <a href="http://maps.co.mecklenburg.nc.us/openmapping/">Mecklenburg County Open Mapping site</a> and the Harvard University social upward mobility study. The finalized data list will be distributed to registered participants prior to the start of the Hackathon. It is important to note that participants are not limited to only the listed data sources.</p>
                </p>
								
<p>All entrants will receive a swag bag.  Pizza and soda will be available as the doors open at 7.  Our program will begin with a brief explanatory program to introduce your hosts and sponsors, before all attendees will have an opportunity to pitch their idea.  Attendees will form teams to work on their projects before "pencils down" on Sunday afternoon.  All teams will have an opportunity to present to a panel of judges, and the winning idea will be invited to present on the floor of the Smart Cities conference itself on Monday afternoon.</p>

<p>You are sure to meet someone new and interesting if you come, and you can help make Charlotte smarter!  Hope to see you there!</p>

              </div>
            </div>
            <hr />
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  RSVP Today
                </h3>
              </div>
              <div class="panel-body">
<script type="text/javascript" src="https://itsbspoke.formstack.com/forms/js.php?1933405-HqmcJPHPpC-v3"></script><noscript><a href="https://itsbspoke.formstack.com/forms/smart_cities" title="Online Form">Online Form - Smart Cities Hack-a-thon</a></noscript>
              </div>
            </div>
<% content_for :sidebar do %>
<%= partial "partials/sidebar" %>
<% end %>
